
<div *ngIf="bid">
    <h2><span>Bid</span> {{bid.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Bid Name</span></dt>
        <dd>
            <span>{{bid.bidName}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{bid.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
            <div *ngIf="bid.department">
                <a [routerLink]="['/department', bid.department?.id]">{{bid.department?.departmentName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bid/'+ bid.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
